body{
    background-color: #0e0b26;
}

#costy{
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #e7dfdd;
}




  
#login-div{
    width: 100px;
    color: #e7dfdd;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-type: none;
    margin-left: 400px;
    margin-right: 400px;
    padding: 0;
    overflow: hidden;
    background-color: #A239CA;
    border-radius: 30px;
  }
  
#welcome{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li {
    float: right;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:  25px;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: lightblue;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

